<!-- 
<div style="display: flex; justify-content: center; margin-top: 50px">
  <mat-card class="card">
    <mat-card-title
      style="margin-left: 40%; margin-top: 10px; font-weight: bold"
      >Edit Profile</mat-card-title
    >
    <div>
    
       <img src="https://cdn-icons-png.flaticon.com/512/6711/6711415.png" alt="upload" width="30%"> 
     <input type="file" id="profilePhoto" accept="image/*" style="display: none;">
    </div>
  </mat-card>
</div> -->

<body>
  <div
    style="
      display: flex;
      flex-direction: row;
      margin-top: 100px;
      margin-left: 150px;
      margin-right: 150px;
    "
  >
  <form class="form">
    <span class="form-title">Upload your Avatar</span>
    <p class="form-paragraph">
        File should be an image
      </p>
     <label for="file-input" class="drop-container">
    <span class="drop-title">Drop files here</span>
    or
    <input type="file" accept="image/*" required="" id="file-input">
  </label>
  </form>
</div>
</body>
